
#content {
    max-width: 40%;
    margin: 40px auto;
}

h1 {
    font-size: 2em;
}

h1, #subheading {
    text-align: center;
}

#subheading {
    color: #035f9c;
    margin-bottom: 0;
}

hr {
    background-color: #035f9c;
    margin-bottom: 40px;
}

li {
    margin-bottom: 20px;
}

#logo {
    text-align: center;
    margin-top: 40px;
}

img {
    width: 100px;
    height: auto;
}
