
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header,
footer {
  text-align: center;
  padding: 1rem;
}

header h1 {
  margin-bottom: 0.5rem;
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.main-nav li {
  padding: 6px;
}

.main-nav a {
  color: #b30059;
  text-decoration: none;
  font-weight: bold;
}

.main-nav a:hover {
  text-decoration: underline;
}

#book-list {
  padding: 0 2rem;
}

.book {
  border: 2px solid #f0a15c;
  padding: 1.5rem;
  max-width: 700px;
  margin: 20px auto;
}

.book h2 {
  color: #b30059;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.book p {
  margin: 0.4rem 0;
  text-align: center;
}

.book img {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
}

.book .desc {
  margin-top: 1rem;
  text-align: left;
}

footer {
  border-top: 2px solid #f0a15c;
  font-size: 0.9rem;
}

@media (min-width: 600px) {

  .main-nav {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: end;
    gap: 1rem;
    padding-right: 2rem;
  }

  .book {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: start;
  }

  .book h2 {
    grid-column: 1 / 3;
    text-align: left;
  }

  .book img {
    grid-row: 2 / 7;
    margin: 0 auto;
  }

  .book p {
    text-align: left;
  }

  .book .desc {
    grid-column: 1 / 3;
  }
}
