
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header,
footer {
  text-align: center;
  padding: 1rem;
}

header h1 {
  margin-bottom: 0.5rem;
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: end;
  gap: 1rem;
  padding-right: 2rem;
  list-style: none;
}

.main-nav li {
  padding: 6px;
}

.main-nav a {
  color: #b30059;
  text-decoration: none;
  font-weight: bold;
}

hr {
  background-color: #f0a15c;
  height: 1px;
}


#book-list {
  max-width: 900px;
  margin: 40px auto;
}

.book {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
  align-items: flex-start;
}


.section {
  width: 140px;
  text-align: right;
  padding-right: 20px;
  border-right: 2px solid #e6a15c;
  font-size: 14px;
  height: 400px;
}

.section p {
  margin: 6px 0;
}

.info {
  flex: 1;
  padding-left: 20px;
}

.info h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #8b0000;
  font-weight: bold;
  font-size: 22px;
}

.info img {
  display: block;
  margin: 10px auto 15px auto;
  max-width: 200px;
}

.Desc {
  max-width: 520px;
  font-size: 14px;
  line-height: 1.4;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #fff;
  font-size: 14px;
}
